
 
  
 <!Top Nav Bar>
		
	   <nav class="top-bar" data-topbar>
	     <ul class="title-area">
           <li class="name">
             <h1><a href="http://techarena51.com">Techarena51.com</a></h1>
			 
			</li>	            			
          </ul>
		  <!-- Left Nav Section -->
         <section class="top-bar-section">		  
            <ul class="left">
              <li><a href="http://tools.techarena51.com/dns/index">DNS</a></li>
	            <li><a href="http://tools.techarena51.com/whois/index">Whois </a></li>			   
            </ul>
          </section>
	    </nav>
	   
	<!Top Nav Bar Ends>
	
	<hr/>
	
	<!title >
	
	<div class="row">
     <div class="small-12 columns">
	     <h5> Whois</h5>
		 
		 </div>
		</div>
		<!title ends>
		
	
	   <!Form starts >	
<form  action="/whois/show" method="get" data-abide>
  <div class="row">
    <div class="large-6 columns">
      <div class="row collapse">
        <div class="small-10 columns">
		     <input type="text" id="domain" name="domain" placeholder="Enter your domain name" pattern="^[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}$" required>
			 <small class="error">Please enter an appropriate DomainName without http.</small>  
        </div>
        <div class="small-2 columns">
         <button class="button postfix"  type="submit">Search</button>
        </div>
      </div>
    </div>
</div>
 
  </form>

   <!form ends>