<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whois</title>
      </head>
	    <body>
	<%= render 'form' %>

<! Results >
   <!Whois>
<div class="row"> 
 <div class="large-12 columns">
   <p>Whois for <%=@domains %> is</p>
  </div>
</div>

<div class="row">
 <div class="large-12 columns">
   <div class="callout panel">
        <%= simple_format(@c.to_s)    %>  
		     
 
	 
	  </div>	     
    </div>
 </div>
 
<!Whois End>



   </body>
</html>






